# SQL Tutorial

우선 필요한 모듈을 불러옵니다.

In [12]:
!pip install pysqlite3

Collecting pysqlite3
  Downloading pysqlite3-0.5.4.tar.gz (40 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py) ... done
  Created wheel for pysqlite3: filename=pysqlite3-0.5.4-cp312-cp312-macosx_11_0_arm64.whl size=37316 sha256=beaeeddef33e7818b094a45cd4a89c37a6a784b8f13938f896e315a3bb6b7754
  Stored in directory: /Users/admin/Library/Caches/pip/wheels/5f/02/a6/284262355044b549376150fa1166bbd8106585da0c15280db3
Successfully built pysqlite3
Installing collected packages: pysqlite3
Successfully installed pysqlite3-0.5.4

In [14]:
import sqlite3

# Making Database
sqlt서버와 연결 후 Demo Database를 만듭니다.

In [100]:
database = 'my.db'
sql_statement = """CREATE TABLE IF NOT EXISTS Customers (
            CustomerID INTEGER PRIMARY KEY, 
            CustomerName text NOT NULL,
            Contactname text,
            Address text NOT NULL,
            City text NOT NULL,
            PostalCode text NOT NULL,
            Country text NOT NULL
        );"""
try:
    with sqlite3.connect(database) as conn:    #':memory:' instead of "my.db" if you want to instantiate the db at memory
        cursor = conn.cursor()
        cursor.execute(sql_statement)
        conn.commit()
        print("Tables created successfully.")
except sqlite3.operationalError as e:
    print("Failed to create tables:", e)

Tables created successfully.

In [104]:
sql = """INSERT INTO Customers 
         (CustomerID, CustomerName, ContactName, Address, City, PostalCode, Country)
         VALUES (?, ?, ?, ?, ?, ?, ?)"""

data = [
    (1, "Alfreds Futterkiste", "Maria Anders", "Obere Str. 57", "Berlin", "12209", "Germany"),
    (2, "Ana Trujillo Emparedados y helados", "Ana Trujillo", "Avda. de la Constitución 2222", "México D.F.", "05021", "Mexico"),
    (3, "Antonio Moreno Taquería", "Antonio Moreno", "Mataderos 2312", "México D.F.", "05023", "Mexico"),
    (4, "Around the Horn", "Thomas Hardy", "120 Hanover Sq.", "London", "WA1 1DP", "UK"),
    (5, "Berglunds snabbköp", "Christina Berglund", "Berguvsvägen 8", "Luleå", "S-958 22", "Sweden")
]

def main():
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            for qurereData in data:
                cursor.execute(sql, qurereData)
            conn.commit()

    except sqlite3.Error as e:
        print(e)

if __name__ == '__main__':
    main()

## base Variables and functions

In [112]:
database = 'my.db'
def sendQuery(sql):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            cursor.execute(sql)
            conn.commit()
            return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

def sendQueryWithData(sql, data):
    try:
        with sqlite3.connect(database) as conn:
            cursor = conn.cursor()
            for date in data:
                cursor.execute(sql, date)
            conn.commit()
            return cursor.fetchall()
        
    except sqlite3.Error as e:
        print(e)

## main tutorials

### SELECT

In [114]:
sql = "SELECT * FROM Customers;"
sendQuery(sql)

[(1,
  'Alfreds Futterkiste',
  'Maria Anders',
  'Obere Str. 57',
  'Berlin',
  '12209',
  'Germany'),
 (2,
  'Ana Trujillo Emparedados y helados',
  'Ana Trujillo',
  'Avda. de la Constitución 2222',
  'México D.F.',
  '05021',
  'Mexico'),
 (3,
  'Antonio Moreno Taquería',
  'Antonio Moreno',
  'Mataderos 2312',
  'México D.F.',
  '05023',
  'Mexico'),
 (4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (5,
  'Berglunds snabbköp',
  'Christina Berglund',
  'Berguvsvägen 8',
  'Luleå',
  'S-958 22',
  'Sweden')]

In [116]:
sql = "SELECT CustomerName, City FROM Customers;"
sendQuery(sql)

[('Alfreds Futterkiste', 'Berlin'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.'),
 ('Antonio Moreno Taquería', 'México D.F.'),
 ('Around the Horn', 'London'),
 ('Berglunds snabbköp', 'Luleå')]